.ccf_caption 
{
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	padding-right:5px;
}
.ccf_msg 
{
	padding-top:5px;
	padding-left:10px;
	color:#F00;
}
.ccf_textbox 
{
	padding-bottom:5px;
	padding-left:10px;
}
.ccf_button 
{
	padding-bottom:10px;
	padding-left:10px;
}
.ccf_textbox_class 
{
	width:200px;
}
.ccf_textbox_button 
{
	width:100px;
}